.menu-superior {
	font-family: "palanquin";
	font-size: 25px;
    font-weight: bold;
    background-image: rgba(255 , 255, 255, 0.1);
    position: fixed;

}
.menu-superior nav {
	padding-top: 27px;
}
.menu-superior nav a{
    color:white;
}
.imagen-superior {
    overflow-x: hidden;
}
.icono-nav {
    fill: white;
}
